

/* Fonte padrão */
body {
    font-family: 'Inter', sans-serif;
}


a {
    transition: all 0.3s ease;
}


.font-serif {
    font-family: 'Playfair Display', serif;
}

.hero-bg-solid {
    background-color: #1b1b1b;
}

.parallax-bg {
    /* Imagem de fundo padrão para todos os dispositivos */
    background-image: url('../imagens/Fundo_site.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Aplica o efeito parallax (background-attachment: fixed) APENAS em telas com largura mínima de 768px (tablets e desktops) */
@media (min-width: 768px) {
    .parallax-bg {
        background-attachment: fixed;
    }
}

#meuHeader {
    position: sticky; 
    top: 0;           /* Define que ele deve grudar no topo (distância 0 do topo) */
    width: 100%;      /* Ocupa a largura toda da tela */
    z-index: 1000;    /* Garante que ele fique na frente de todo o conteúdo */
    background-color: rgb(0, 0, 0); /* Garante o fundo preto, caso não tenha */
}
/* Evita a barra piscante do cursor (caret) em todos os elementos não-editáveis */
*:not(input):not(textarea) {
    caret-color: transparent;
}
